.chanpin_bottom{
	width: 1200px;
	margin: 0 auto;
}
.chanpin_bottom ul{
	width: 1200px;
	height: 800px;
    float: left;
}
.chanpin_bottom li{
    width: 266px;
    height: 382px;
    float: left;
    margin-right: 38px;
    margin-bottom: 31px;
    border: 2px solid rgb(215, 215, 215);
    position: relative;
}
.chanpin_zhezhao{
	width: 271px;
    height: 357px;
    color: #fff;
    position: absolute;
    top: 9px;
    left: 10px;
	background-color: rgba(25, 74, 95, 0.9);
    box-shadow: 0px 5px 20px 5px #EEEFF0;
    opacity: 0;
}
.chanpin_bottom img{
	width: 271px;
    height: 357px;
    margin-top: 9px;
    margin-left: 12px;
    box-shadow: -2px 2px 20px 2px #EFEFEF;
}
.zhezhao_huangxian{
    width: 2px;
    height: 355px;
    background-color: #F5C813;
    position: absolute;
    top: 10px;
    right: -2px;
}
.chanpin_zhezhao h1{
	font-size: 22px;
    font-weight: lighter;
    line-height: 22px;
    margin-top: 35px;
    margin-left: 23px;
    font-family: "微软雅黑";
}
.chanpin_zhezhao h2{
    font-size: 24px;
    line-height: 24px;
    margin-top: 13px;
    margin-left: 23px;
    font-family: "ARIAL";
    font-weight: bold;
}
.chanpin_zhezhao span{
    font-size: 24px;
    line-height: 24px;
    margin-top: 9px;
    margin-left: 23px;
    font-family: "ARIAL";
    font-weight: 400;
    display: block;
}
.chanpin_more{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #F5C813;
    color: #000;
    margin-top: 24px;
    margin-left: 23px;
    font-weight: 700;
    text-align: center;
    line-height: 23px;
}
.chanpin_bottom .chanpin_item{
	margin-right: 0;
}
.chanpin_bottom li{
	cursor: pointer;
}
.chanpin_bottom li:hover .chanpin_zhezhao{
	opacity:1;
}
.chanpin_lunbodian{
	width: 100%;
	height: 100px;
	margin-top: 49px;
}
.chanpin{
	height: auto;
}
.lunbodian{
	width: 350px;
	height: 24px;
	margin: 0 auto;
}
.lunbodian div{
	float: left;
	margin-right: 26px;
}
.lunbodian .lunbodianjt{
    width: 12px;
    height: 22px;
    margin: 0px;
    margin-top: 1px;
    font-size: 20px;
    line-height: 22px;
    color: #656565;
}
.lunbodian .lunbodianr{
	margin-right: 0;
}
.lunbodian .lunbodian1{
	width: 24px;
	height: 24px;
    border-radius: 50%;
    background-color: #E5E5E5;
    color: #184F6B;
    text-align: center;
    cursor: pointer;
}
.lunbodian .lunbodian2{
    background-color:transparent;
    color: #184F6B;
}
.lunbodian .lunbodian3{
	margin-left: 26px;
}
/*.lunbodian .lunbodian1:hover{*/
    /*background-color: #184F6B;*/
    /*color: #fff;*/
/*}*/
.lunbodian0.active{
    background-color: #184F6B;
    color: #fff;
}
.lunbodian .lunbodian2:hover{
    background-color:transparent;
    color: #184F6B;
}
.banner_img img{
	width: 250px;
	height: 234px;
}
.chanpin_list{
    width: 1200px;
    height: 800px;
    overflow: hidden;
}
.chanpin_inner{
    width: 7000px;
    height: 800px;
    transition: all 1s;
}