.guanyu_banner img{
	width: 207px;
	height: 272px;
}
.wenhua_bottom{
	width: 100%;
	height: 372px;
}
.wenhua_bottom1{
	height: 372px;
    width: 345px;
    background: url("../img/wenhua1.png");
    background-position: -10px -50px;
    float: left;
}
.wenhua_bottom1 h1{
    font-size: 82px;
    color: #fff;
    margin-left: 130px;
    font-weight: 400;
    line-height: 90px;
}
.wenhua_bottom1 span{
    font-size: 14px;
    color: #fff;
    margin-left: 290px;
    font-weight: 400;
    padding: 1px 6px 2px 8px;
    text-align: center;
    background-color: #245974;
}
.wenhua_bottom1 p{
    padding: 1px 4px 2px 8px;
    font-size: 14px;
    color: #fff;
    margin-left: 231px;
    font-weight: 400;
    text-align: center;
    width: 87px;
    height: 23px;
    background-color: #245974;
}
.wenhua_bottom2{
	width: 548px;
    height: 100%;
    float: left;
    margin-left: 50px;
}
.wenhua_bottom2_top p{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    line-height: 22px;
    font-family: "San Francisco Display";
}
.wenhua_bottom2_top h1{
    font-size: 38px;
    color: #000;
    line-height: 38px;
    font-family: San Francisco Display;
}
.wenhua_bottom2_line{
    width: 117px;
    height: 3px;
    background-color: #F5C813;
    margin-top: 15px;
}
.wenhua_bottom2_line1{
	width: 436px;
    height: 3px;
    background-color: #245974;
    margin-left: 113px;
    margin-top: -3px;
}
.wenhua_bottom2_content h1{
    font-weight: 400;
    font-size: 20px;
    font-family: "微软雅黑";
    color: #747474;
    margin-top: 10px;
    line-height: 35px;
}
.wenhua_bottom2_content p{
    font-size: 18px;
    color: #747474;
    line-height: 22px;
    margin-bottom: 6px;
}
.wenhua_bottom2_content span{
    font-size: 14px;
    color: #B2B2B2;
    line-height: 21px;
}
.wenhua_bottom2_more{
    width: 134px;
    height: 31px;
    border: 2px solid #000;
    margin-top: 14px;
    padding-left: 15px;
    line-height: 27px;
    font-size: 22px;
    color: #000;
}
.more_jia{
    width: 34px;
    height: 31px;
    border: 2px solid #000;
    background-color: #245974;
    float: right;
    margin-right: -2px;
    margin-top: -2px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 27px;
}
.wenhua_bottom3{
	width: 249px;
    height: 433px;
    float: right;
    overflow: hidden;
    padding-top: 12px;
}
.wenhua_bottom3 img{
    width: 239px;
    height: 433px;
    float: right;
}
.wenhua_imgbor{
    width: 160px;
    height: 283px;
    background-color: #F5C813;
    margin-left: -10px;
    margin-top: -12px;
}
.hangye_bottom1{
    width: 1013px;
    height: 316px;
    margin: 0 auto;
    margin-top: -21px;
    position: relative;
}
.hangye_bottom1_left{
    width: 160px;
    height: 283px;
    background-color: #245974;
    margin-top: 33px;
    float: left;
}
.hangye_bottom1_right{
	padding-left: 167px;
    width: 999px;
    height: 301px;
    position: absolute;
    top: 0px;
    left: 15px;
    background-color: #000;
}
.hangye_bottom1_right h1{
    font-size: 38px;
    font-family: "San Francisco Display";
    color: #fff;
    line-height: 118px;
}
.hangye_bottom1_right i{
	font-weight: 400;
}
.hangye_bottom1_right p{
    font-size: 20px;
    font-family: 微软雅黑;
    color: #DDDDDD;
    line-height: 20px;
    margin-top: -25px;
    margin-bottom: 14px;
}
.hangye_bottom1_right span{
    font-size: 31px;
    font-family: "微软雅黑";
    color: #fff;
    line-height: 31px;
    margin-top: 25px;
} 
.hangye_bottom1_right h2{
    font-size: 105px;
    font-family: 微软雅黑;
    color: #245974;
    line-height: 105px;
    margin-top: 90px;
    margin-left: -15px;
    font-style: oblique;
}
.hangye_renwu{
	width: 504px;
    height: 256px;
    position: absolute;
    top: 45px;
    right: 47px;
    overflow: hidden;
}
.hangye_bottom2{
    width: 1013px;
    height: 282px;
    margin: 0 auto;
}
.hangye_bottom2_more{
	float: left;
    margin-top: 230px;
    margin-left: 180px;
}
.hangye_bottom2_right{
	width: 449px;
    height: 282px;
    float: right;
    margin-right: 75px;
}
.hangye_bottom2_right1{
	width: 440px;
    height: 141px;
    padding-top: 30px;
    padding-left: 26px;
    cursor: pointer;
}
.hangye_bottom2_right h1{
    font-size: 20px;
    font-family: 微软雅黑;
    line-height: 20px;
    color: #1D1D1D;
    margin-bottom: 18px;
}
.hangye_bottom2_right p{
    font-size: 14px;
    font-family: 微软雅黑;
    line-height: 22px;
    color: #BCBCBC;
}
.new_bottom1{
    width: 1200px;
    margin: 0 auto;
    margin-top: -21px;
    height: 400px;
}
.new_bottom1l, .new_bottom1c, .new_bottom1r,
 .new_bottom2c, .new_bottom2r {
    float: left;
    position: relative;
    width: 400px;
    height: 400px;
}
.pinpai2_zhezhao{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    left: 0;
    color: #fff;
}
.pinpai2_zhezhao h1{
    margin-left: 50px;
    margin-top: 84px;
    font-size: 28px;
    line-height: 28px;
}
.pinpai2_zhezhao p{
    margin-left: 50px;
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
}
.pinpai2_zhezhao h2{
    margin-left: 50px;
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
}
.new_bottom2_more{
    margin-left: 229px;
    margin-top: 80px;
}
.new_bottom2{
    width: 100%;
    height: 600px;
}
.new_bottom2l{
    width: 290px;
    height: 600px;
    float: left;
    overflow: hidden;
}
.new_bottom2c{
    width: 585px;
    height: 400px;
    float: left;
    overflow: hidden;
}
.new_bottom2r{
	height: 400px;
    float: left;
    z-index: 1;
}
.new_bottom2r_zhezhao{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    left: 0;
    color: #fff;
}
.new_bottom2r_zhezhao h1,.new_bottom2r_zhezhao p,.new_bottom2r_zhezhao h2,
.new_bottom2r_zhezhao .new_bottom2r_more{
    float: right;
}
.new_pinpai{
    float: left;
    margin-top: 10px;
    margin-left: 8px;
    width: 232px;
    height: 192px;
}
.xinpin_more{
    float: left;
    margin-top: 15px;
    margin-left: 8px;
    width: 222px;
    height: 182px;
    background-color: #477389;
    text-align: center;
    line-height: 176px;
    font-size: 24px;
    color: #fff;
}
.shehui_bottom{
	width: 1000px;
    height: 323px;
    margin: 0 auto;
    margin-top: -21px;
    margin-bottom: 79px;
}
.shehui_bottom img{
	float: left;
}
.shehui_bottom_right{
	height: 323px;
    margin-left: 130px;
    float: left;
}
.shehui_bottom_right h2{
	font-size: 16px;
    line-height: 16px;
    color: #000;
    margin-bottom: 10px;
}
.shehui_bottom_right i{
    font-size: 105px;
    line-height: 55px;
    color: #000;
    float: left;
    margin-left: -70px;
    margin-top: 18px;
    font-style: oblique;
}
.shehui_bottom_right h1{
    font-size: 55px;
    line-height: 55px;
    color: #000;
    float: left;
    font-style: oblique;
}
.shehui_bottom_right p{
	padding-top: 22px;
    clear: both;
    font-size: 24px;
    line-height: 35px;
    color: #000;
    font-style: oblique;
    font-family: 微软雅黑;
}
.shehui_bottom2_more{
	margin-top: 30px;
}
.hangye_bottom2_right1:hover{
    border-right: 5px solid #F5C813;
    box-shadow: 0px 0px 20px 5px #EEEFF0;
}